<!DOCTYPE html>
<html lang="it" data-ng-app="fastTrack" data-ng-controller="mainCtrl">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Marco Lancellotti" />
		<meta name="description" content="Trova i contatti degli Erasmus in un batter d'occhio!" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="0"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ESN IULM Rocket</title>
		<link rel="icon" href="assets/img/icon.png" type="image/png" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-motion/0.4.4/angular-motion.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" /> 
	</head>
	<body>
		<header>
			<nav class="nav navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a href="#/" class="navbar-brand"><i class="fa fa-rocket"></i>  ESN IULM Rocket</a>
					</div>
					<form class="navbar-form navbar-right" name="authForm" id="authForm" novalidate>
						<div class="input-group" >
							<input type="password" class="form-control" placeholder="Password" name="password"  id="password" data-ng-focus="warningRemove()" data-ng-keyup="authCheck()" data-ng-model="password" required />
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						</div>
					</form>
				</div>
			</nav>
		</header>
		<div class="container-fluid">
			<section id="messageBox"></section>
			<div data-ng-show="authorized" data-ng-cloak>
				<section id="users">
					<header class="page-header">
						<img src="{{pic}}" alt="{{user}}" class="userPic" /><h3 data-ng-bind="user"></h3>
					</header>
				</section>
				<section id="results">
					<div class="row">
						<div class="col-md-8  col-md-offset-2">
							<form name="searchForm">
								<div class="input-group">
									 <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
									<input type="search" placeholder="Filtra" class="form-control" data-ng-model="search" />
								</div>
							</form>
							<section id="contacts">
								<hr />
								<section class="media" data-ng-repeat="contact in contacts.details | filter: search">
									<h3 class="media-heading" data-toggle="collapse" data-target="{{'#'+contact.esncard}}">{{contact.name | capitalize:true }} <small><i data-ng-class="sex(contact.sex)"></i></small></h3>
									<div class="media-body" data-toggle="collapse" data-target="{{'#'+contact.esncard}}">
										<a href="{{'tel:'+contact.mobile}}"><i class="fa fa-mobile-phone fa-2x"></i></a> {{contact.mobile}} <br />
										<a a href="{{'mailto:'+contact.email | lowercase}}"><i class="fa fa-envelope fa-lg"></i></a> {{contact.email | lowercase}}
									</div>
									<div id="{{contact.esncard}}" class="collapse" data-toggle="collapse" data-target="{{'#'+contact.esncard}}">
										<div class="row">
											<div class="col-xs-6">
												<i class="fa fa-address-card-o"></i>  {{contact.esncard | uppercase}}
											</div>
											<div class="col-xs-6">
												<i class="fa fa-hourglass-end"></i>  {{contact.expiration}}
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<i class="fa fa-font-awesome"></i>  {{contact.country | capitalize:true}}
											</div>
											<div class="col-xs-6">
												<i class="	fa fa-birthday-cake"></i>  {{contact.birthday}}
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<i class="fa fa-drivers-license"></i>  {{contact.document_type | capitalize:true}}
											</div>
											<div class="col-xs-6">
												 <i class="fa fa-hashtag"></i>  {{contact.document_id | uppercase }}
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<i class="fa fa-graduation-cap"></i>  {{contact.university}}
											</div>
											<div class="col-xs-6">
												 <i class="fa fa-clock-o"></i>  {{contact.period | capitalize:true  }}
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<i class="fa fa-id-badge"></i>  {{contact.status}}
											</div>
											<div class="col-xs-6">
												 <a href="{{'https://www.facebook.com/search/top/?q='+contact.facebook}}" target="_blank"><i class="fa fa-facebook-square"></i>  {{contact.facebook | capitalize:true  }}</a>
											</div>
										</div>
									</div>
								</section>
								
							</section>
						</div>
					</div>
				</section>
			<div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script> -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.12/angular-strap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.12/angular-strap.tpl.js"></script> 
		<script src="assets/scripts/module.js"></script>
		<script src="assets/scripts/controller.js"></script>
		<!-- <script src="assets/scripts/routing.js"></script> -->
	</body>
</html>