body{
	background-attachment: fixed;
	background-image: url(http://www.esniulm.it/rocket/assets/img/background.png);
	background-position: 50% 70%;
	background-repeat: no-repeat;  
	background-size: contain; 
	font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height:100%;
	z-index:-1
}

.fa-address-book-o{
	font-size: 21px;
}

.navbar-inverse .navbar-brand{
	color: #fff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:active{
	color: #ed0599;
}


.userPic{
	border-radius:50%;
	min-height:50px;
	min-width:50px;
	overflow:hidden;
	height:5vw;
	width:5vw;
}

#contacts{
	font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contacts a{
	color: rgb(51,51,51);
}

#contacts .collapse{
	border-radius: 0 10px 10px 0;
	background-color: #eee;
	cursor: row-resize;

}

#contacts .fa{
	color: #ed0599;
}

#contacts .media{
	border-bottom: 1px solid #666;
	margin: 20px 0;
	padding-bottom:5px;
}


#contacts .media-heading 
{
	cursor: row-resize;
}

#messageBox{
	margin-top: 10px;
}

#results{
	background-color: rgba(255,255,255,0.75);
}

#users h3{
	display: inline-block; 
	margin:5px;
	padding-left:10px;
}

#users .page-header{
	margin-top:20px;
}